BasedOnStyle: LLVM
ColumnLimit: 80
AlignEscapedNewlines: Right
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false 
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: false
IndentWidth: 2
ContinuationIndentWidth: 4